In [44]:
import pandas as pd
import numpy as np

In [16]:
application_df = pd.read_csv('Resources/application_record.csv')
credit_df = pd.read_csv('Resources/credit_record.csv')

In [17]:
application_df.head()

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2.0
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0

In [42]:
application_df["Gender"] = application_df["CODE_GENDER"]
application_df["OwnsCar"] = application_df["FLAG_OWN_CAR"]
application_df["OwnsRealty"] = application_df["FLAG_OWN_REALTY"]
application_df["EducationType"] = application_df["NAME_EDUCATION_TYPE"]
application_df["FamilyStatus"] = application_df["NAME_FAMILY_STATUS"]
application_df["HousingType"] = application_df["NAME_HOUSING_TYPE"]
application_df["Phone"] = application_df["FLAG_MOBIL"]
application_df["ChildrenCount"] = application_df["CNT_CHILDREN"]
application_df["Income"] = application_df["AMT_INCOME_TOTAL"].astype('int64', copy=False)
application_df["FamilyMemberCount"] = application_df["CNT_FAM_MEMBERS"].astype('int64', copy=False)
application_df["BirthDays"] = application_df["DAYS_BIRTH"]
application_df["EmployedDays"] = application_df["DAYS_EMPLOYED"]

gender = {'M':0, 'F':1}
car = {'Y':1, 'N':0}
realty = {'Y':1, 'N':0}
education = {'Higher education': 0, 'Secondary / secondary special': 1, 'Incomplete higher': 2,
            'Lower secondary':3, 'Academic degree': 4, 'Academic degree': 5}
family = {'Civil marriage':0, 'Married':1, 'Single / not married':2, 'Separated':3,'Widow':4}
housing = {'Rented apartment':0, 'House / apartment':1, 'Municipal apartment':2,
       'With parents':3, 'Co-op apartment':4, 'Office apartment':5}

application_df.Gender = [gender[item] for item in application_df.Gender]
application_df.OwnsCar = [car[item] for item in application_df.OwnsCar]
application_df.OwnsRealty = [realty[item] for item in application_df.OwnsRealty]
application_df.EducationType = [education[item] for item in application_df.EducationType]
application_df.FamilyStatus = [family[item] for item in application_df.FamilyStatus]
application_df.HousingType = [housing[item] for item in application_df.HousingType]
                              
credit_application_df = application_df[["Gender", "OwnsCar", "OwnsRealty", "EducationType","FamilyStatus","BirthDays",
                                       "EmployedDays","HousingType","ChildrenCount", "Income", "FamilyMemberCount"]]
                              
credit_application_df.head()

,Gender,OwnsCar,OwnsRealty,EducationType,FamilyStatus,BirthDays,EmployedDays,HousingType,ChildrenCount,Income,FamilyMemberCount
0,0,1,1,0,0,-12005,-4542,0,0,427500,2
1,0,1,1,0,0,-12005,-4542,0,0,427500,2
2,0,1,1,1,1,-21474,-1134,1,0,112500,2
3,1,0,1,1,2,-19110,-3051,1,0,270000,1
4,1,0,1,1,2,-19110,-3051,1,0,270000,1

In [71]:
#In the end, I belive the customer should be labeled "good" or "bad" 
#according to the amount of times that customer exceed the 59 days over 
#due limit or has bad debts (status 2 till 5). 

# 0: 1-29 days past due 
# 1: 30-59 days past due 
# 2: 60-89 days overdue 
# 3: 90-119 days overdue 
# 4: 120-149 days overdue 
# 5: Overdue or bad debts, write-offs for more than 150 days 
# C: paid off that month 
# X: No loan for the month

# credit_df["Label"] = np.where(credit_df["STATUS"] == 'X' & credit_df["MONTHS_BALANCE"] >= -1,'Good','Bad')

conditions = [
                (credit_df['STATUS'] == 'X'),
                (credit_df['STATUS'] == 'C'),
                (credit_df['STATUS'] == '0'),
                (credit_df['STATUS'] >= "1")
            ]
choices = ['Good','Good','Good','Bad']
credit_df['Label'] = np.select(conditions, choices)

credit_df.head()

              ID  MONTHS_BALANCE STATUS Label
1048525  5150483             -13      X  Good
1048526  5150483             -14      X  Good
1048527  5150483             -15      X  Good
1048528  5150483             -16      X  Good
1048529  5150483             -17      X  Good
1048530  5150484               0      C  Good
1048531  5150484              -1      0  Good
1048532  5150484              -2      0  Good
1048533  5150484              -3      0  Good
1048534  5150484              -4      0  Good
1048535  5150484              -5      0  Good
1048536  5150484              -6      0  Good
1048537  5150484              -7      0  Good
1048538  5150484              -8      0  Good
1048539  5150484              -9      0  Good
1048540  5150484             -10      0  Good
1048541  5150484             -11      0  Good
1048542  5150484             -12      0  Good
1048543  5150485               0      0  Good
1048544  5150485              -1      0  Good
1048545  5150487               0      C  Good
1048546  5150487              -1      C  Good
1048547  5150487              -2      C  Good
1048548  5150487              -3      C  Good
1048549  5150487              -4      C  Good
1048550  5150487              -5      C  Good
1048551  5150487              -6      C  Good
1048552  5150487              -7      C  Good
1048553  5150487              -8      C  Good
1048554  5150487              -9      C  Good
1048555  5150487             -10      C  Good
1048556  5150487             -11      C  Good
1048557  5150487             -12      C  Good
1048558  5150487             -13      C  Good
1048559  5150487             -14      C  Good
1048560  5150487             -15      C  Good
1048561  5150487             -16      C  Good
1048562  5150487             -17      C  Good
1048563  5150487             -18      C  Good
1048564  5150487             -19      C  Good
1048565  5150487             -20      C  Good
1048566  5150487             -21      C  Good
1048567  5150487             -22      C  Good
1048568  5150487             -23      C  Good
1048569  5150487             -24      C  Good
1048570  5150487             -25      C  Good
1048571  5150487             -26      C  Good
1048572  5150487             -27      C  Good
1048573  5150487             -28      C  Good
1048574  5150487             -29      C  Good